* {
    margin: 0;
}

a {
    color: $text-colour;
    text-decoration: none;
}

button {
    border: none;
    background: none;
    color: $text-colour;
}

video {
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
}

ul,
ol {
    padding: 0;
    list-style: none;
}

