// Fonts
$font-family: "Helvetica Neue", Helvetica, sans-serif;

// Primary Colours
$colour-cream: #fbf9f2;
$colour-orange: #e38c00;
$colour-blue: #00152f;

// Secondary Colours
$colour-green: #b2be99;
$colour-red: #e64b39;

$colour-grey: #c4c4c4;
$colour-light-grey: #f8f8f8;
$colour-white: white;

// Text Colours
$text-colour: black;
$text-colour-inverted: white;
