{% import '_macros/ui.twig' as ui %}

<header class="">
    <div>
        <nav class="">
            <div class="">
                <h1 class="">
                    <a href="/" class="">
                        Logo
                    </a>
                </h1>
                <div class="">
                    <button></button>
                </div>
            </div>
            <ul>
                <li class="text-left">
                    <a href="/about" class="">
                        Share
                    </a>
                </li>
                <li class="text-left">
                    <a target="_blank" href="https://github.com/learnwithus/lt-craft-starter-template" class="">
                        Github
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
