{% import '_macros/ui.twig' as ui %}

<header class="">
	<div>
		<nav class="">
			<div class="">
				<h1 class="">
					<a href="/" class="">
						Logo
					</a>
				</h1>
				<div class="">
					<button></button>
				</div>
			</div>
			<ul>
				<li class="text-left">
					<a href="/share" class="hover:underline">
						Share
					</a>
				</li>
				<li class="text-left">
					<a target="_blank" href="https://github.com/giorgiopogliani/craftcms-starter-template" class="">
						Github
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>
