<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ craft.app.language }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ craft.vite.script("/assets/app.js") }}
    {% block head %}{% endblock %}
    {% include '_layouts/_favicon.twig' %}
    <title>{{ siteName }}</title>
    <meta name="description" content=""/>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
