{% extends "_layouts/base.twig" %}

{% block body %}

  {% include '_layouts/_header.twig' %}

  <main>
    {% block main %}{% endblock %}
  </main>

  {% include '_layouts/_footer.twig' %}

{% endblock %}
